.motorcycles{
	height: 100%;
	//display: inline-block;
	display: flex;
		&-bg{
			position: absolute;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100%;
			pointer-events: none;
				&-slide{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					opacity: 0;
						&[data-motorcycle="arch-krgt-1"]{
							.motorcycles-bg-image{
								object-position: center 60%;
							}
						}
						&[data-motorcycle="arch-1s"]{
							background-color: var(--color-white);
								&:after{
									content: '';
									position: absolute;
									inset: 0;
									background-image: url(../images/noise.png);
									background-repeat: repeat;
									background-size: 100px;
									opacity: .15;
								}
								&:before{
									content: '';
									position: absolute;
									top: 0;
									left: 0;
									width: 100%;
									height: 47.1%;
									background-image: url(../images/grid.svg);
									background-repeat: repeat-x;
									background-size: contain;
								}
						}
						&[data-motorcycle="arch-method-143"]{
							.motorcycles-bg-image{
								object-position: center 75%;
							}
						}
				}
				&-image{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
		}
		.section.__motorcycle{
			min-width: 150vw;
		}
}

.motorcycle{
	position: relative;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
		&-item{
			position: fixed;
			top: 50vh;
			left: 50vw;
				&-image{
					object-fit: contain;
					object-position: center;
					pointer-events: none;
					opacity: 0;
				}
				&-border{
					position: absolute;
					width: 100%;
					height: auto;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
						path{
							stroke: var(--color-white);
							stroke-width: 2px;
							stroke-dasharray: 1670;
							stroke-dashoffset: 1670;
						}
				}
		}
		&-title{
			position: absolute;
		}
		&-description{
			position: absolute;
			display: flex;
			z-index: 1;
			width: 100vw;
			opacity: 0;
				&-item{
					flex: 1;
					margin-bottom: 2.3vmin;
						.btn{
							margin-top: 1.7vmin;
							opacity: 0;
							transform: translateY(10px);
						}
						.word{
							opacity: 0;
							transform: translateY(10px);
							display: inline-block;
						}
				}
		}
}

// motorcycles photos //
.arch-krgt-1{
	width: 830px;
	height: 494px;
	margin-top: -247px;
	margin-left: -415px;
		@include mh($motorcycleMinHeight){
			width: 95.5vmin;
			height: 57.5vmin;
			margin-left: -47.75vmin;
			margin-top: -28.75vmin;
		}
}

.arch-1s{
	width: 824px;
	height: 412px;
	margin-top: -206px;
	margin-left: -412px;
		@include mh($motorcycleMinHeight){
			width: 95.5vmin;
			height: 47.7vmin;
			margin-left: -47.75vmin;
			margin-top: -23.85vmin;
		}
}

.arch-method-143{
	width: 822px;
	height: 412px;
	margin-top: -206px;
	margin-left: -411px;
		@include mh($motorcycleMinHeight){
			width: 95.5vmin;
			height: 47.8vmin;
			margin-left: -47.75vmin;
			margin-top: -23.9vmin;
		}
}

// motorcycles boxes //
#arch-krgt-1{
	.motorcycle{
			&-title{
				top: 25.1%;
				left: 22%;
			}
			&-item{
				//top: 54.7vh;
				//left: 52.7vw;
				top: 51.8vh;
				left: 52.4vw;
					&-border{
						bottom: 3.5%;
						width: 103%;
							path{
								stroke-dasharray: 1670;
								stroke-dashoffset: 1670;
							}
					}
			}
			&-description{
				//opacity: 0;
				max-width: 80vmin;
				left: 3%;
				bottom: -23.8%;
				justify-content: space-between;
					&-item{
						&:nth-child(1){
							max-width: 45%;
						}
						&:nth-child(2){
							max-width: 41.3%;
						}
					}
			}
	}
}

#arch-1s{
	.motorcycle{
		&-title{
			right: 20.6%;
			top: 28.8%;
		}
		&-item{
			top: 54.5vh;
			left: 50.1vw;
				&-border{
					path{
						stroke: var(--color-red);
					}
				}
		}
		&-description{
			flex-direction: column;
			max-width: 40vmin;
			left: -22.6%;
			top: -31%;
			justify-content: space-between;
				&-item{
					&:nth-child(1){
						max-width: 87%;
					}
					&:nth-child(2){
						max-width: 85%;
					}
				}
		}
	}
}

#arch-method-143{
	.motorcycle{
		&-title{
			left: 15.9%;
			top: 30.6%;
		}
		&-item{
			top: 62.6vh;
			left: 51.2vw;
		}
		&-description{
			max-width: 80vmin;
			left: -7.8%;
			top: -48%;
			justify-content: space-between;
				&-item{
					&:nth-child(1){
						max-width: 48%;
					}
					&:nth-child(2){
						max-width: 35.5%;
					}
				}
		}
	}
}