.subscribe{
	padding: 212px 0 247px;
		.section{
				&-content{
					padding-left: 78px;
						@include d($xxl){
							padding-left: 0;
						}
				}
				&-bg{
					bottom: -83%;
					left: 41.5%;
				}
				&-banner{
					right: 0;
					//top: -14%;
					top: -7%;
					width: 494px;
					height: 584px;
					position: absolute;
						&-abstract{
							&.__1{
								width: 280px;
								height: 290px;
								bottom: 18%;
								right: 3%;
									@include d($xxl){
										width: 250px;
										height: 260px;
									}
									@include d($xxs){
										width: 70%;
										height: auto;
									}
							}
							&.__2{
								width: 361px;
								height: 329px;
								bottom: 11%;
								right: 3%;
									@include d($xxl){
										width: 331px;
										height: 289px;
									}
									@include d($xxs){
										height: auto;
										width: 75%;
									}
							}
						}
						@include d($xxl){
							width: 394px;
							height: 484px;
							right: 4%;
						}
						@include d($md){
							top: auto;
							bottom: -100%;
						}
						@include d($sm){
							bottom: -115%;
						}
						@include d($xxs){
							width: 90%;
							bottom: -120%;
						}
				}
		}
		.form{
			max-width: 672px;
			padding: 60px 0;
				@include d($lg){
					max-width: 545px;
				}
				@include d($xxl){
					max-width: 450px;
				}
				@include d($sm){
					max-width: 100%;
				}
		}
		@include d($md){
			padding: 100px 0 440px;
		}
		@include d($sm){
			padding: 100px 0 480px;
		}
		@include d($xxs){
			padding: 80px 0 120vw;
		}
}