.h-1{
  @extend h1;
}

.h-2{
  @extend h2;
}

.h-3{
  @extend h3;
}

.h-4{
  @extend h4;
}

.h-5{
  @extend h5;
}

.h-6{
  @extend h6;
}

.text{
    &-small{
      font-size: 12px;
      font-size: .75em;
    }
    &-button{
      font-size: 12px;
      font-size: .75em;
      letter-spacing: .2em;
      line-height: 1em;
      font-family: var(--font-title);
      text-transform: uppercase;
    }
    &-nav{
      font-size: 72px;
      line-height: 1em;
        @include mh($minHeight) {
          font-size: 8.37vmin;
        }
    }
}

.red{
  color: var(--color-red);
}

.__pt{
  padding-top: 23.6vmin;
}

.__flex{
    &-column{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
}