:root {
  --color-black:                          #000000;
  --color-black-100:                      #232323;
  --color-white:                          #FFFFFF;
  --color-green:                          #92C155;
  --color-green-100:                      #98C65D;
  --color-green-200:                      #A5D26B;
  --color-green-300:                      #84AC50;
  --color-violet:                         #5B549D;
  --color-violet-100:                     #655DB0;
  --color-violet-200:                     #534D8C;
  --color-red:                            #D2395A;
  --color-red-100:                        #C63050;
  --color-red-200:                        #B2334F;
  --color-yellow:                         #F2E950;
  --color-yellow-100:                     #FFFEE4;
  --color-yellow-200:                     #FFFEE4;
  --color-grey:                           #80949B;
  --opacity-duration:                     .3s;
  --opacity-ease:                         ease;
  --transform-duration:                   .3s;
  --transform-ease:                       ease;
  --move-duration:                        1s;
  --font-title:                           'FuturaLT-CondensedExtraBold', sans-serif;
  --font-body:                            'Futura-Medium', sans-serif;
}

//$minHeight:                               880;
$hoverWidth:                                991;
$lg:                                        1450;
$xl:                                        1350;
$xxl:                                       1200;
$md:                                        991;
$sm:                                        767;
$xs:                                        575;
$xxs:                                       480;