<div class="section footer"
		 id="footer"
		 data-scroll
		 data-scroll-offset="40%,0"
		 data-scroll-repeat="true"
		 data-scroll-call="footer">
	<div class="section-content __flex-column">
		<div class="section-content-box __pt">
			<a href="mailto:archmotorcycle@gmail.com" class="h-5 section-content-subtitle">archmotorcycle<span class="red">@</span>gmail<span class="red">.</span>com</a>
			<h3 class="h-3 section-content-title">Get in touch</h3>
		</div>
		<div class="section-content-box">
			<div class="footer-nav">
				<nav>
					<ul>
						<li>
							<a href="#" class="link">Privacy Policy & Terms</a>
						</li>
						<li>
							<a href="#" class="link">Contact</a>
						</li>
					</ul>
				</nav>
				<p class="footer-nav-copyright copyright"><span class="copyright-sign">&copy;</span>2021</p>
			</div>
		</div>
	</div>
</div>