<header class="header">
	<div class="header-panel">
		<div class="header-panel-social">
			<div class="social">
				<a
					href="https://www.facebook.com/archmotorcycle"
					target="_blank"
					class="social-link">Facebook</a>
				<a
					href="https://twitter.com/archmotorcycle/"
					target="_blank"
					class="social-link">Twitter</a>
				<a
					href="https://www.youtube.com/channel/UCkmbqgfpgnFxKhbgel8Nz4w"
					target="_blank"
					class="social-link">Youtube</a>
				<a
					href="https://www.instagram.com/archmotorcycle/"
					target="_blank"
					class="social-link">Instagram</a>
<!--				<a href="index.html" class="social-link">Home</a>-->
<!--				<a href="about.html" class="social-link">About</a>-->
			</div>
		</div>
		<div class="header-panel-nav">
			<div class="burger">
				<div class="burger-title text-button">Menu</div>
				<div class="burger-box">
					<div class="burger-box-arrow"></div>
					<div class="burger-box-arrow"></div>
					<div class="burger-box-arrow"></div>
				</div>
			</div>
		</div>
	</div>
</header>