<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-4">
        <a href="index.html" class="header-logo">
          <img src="../../images/logo.svg" alt="Litty" />
        </a>
      </div>
      <div class="col-md-6">
        <div class="header-nav">
          <nav class="nav">
            <ul>
              <li>
                <a href="#" class="link">About</a>
              </li>
              <li>
                <a href="#" class="link scroll-to">All products</a>
              </li>
              <li>
                <a href="#" class="link scroll-to">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-md-3 col-8">
        <div class="header-social">
          <a href="#" class="link">
            let’s be friend
            <span class="link-icon">
              <img src="../../images/icons/instagram.svg" alt="let’s be friend" />
            </span>
          </a>
          <div class="burger">
            <div class="burger-box">
              <div class="burger-box-arrow"></div>
              <div class="burger-box-arrow"></div>
              <div class="burger-box-arrow"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>