.burger{
	display: inline-flex;
	align-items: center;
	color: inherit;
	cursor: pointer;
		&-title{
			margin-right: 12px;
				@include mh($minHeight){
					padding-top: 3px;
				}
		}
		&-box{
			width: 16px;
			width: 1em;
			height: 18px;
			height: 1.125em;
			position: relative;
				&-arrow{
					position: absolute;
					width: 2px;
					height: 100%;
					background-color: currentColor;
						&:nth-child(1){
							left: 0;
						}
						&:nth-child(2){
							left: 50%;
							transform: translateX(-1px);
						}
						&:nth-child(3){
							right: 0;
						}
				}
		}
}