.btn{
	display: inline-block;
	text-transform: uppercase;
	font-family: var(--font-body);
	padding: 0 52px 0 30px;
	border: 1px var(--color-black) solid;
	background-color: transparent;
	height: 60px;
	line-height: 58px;
	border-radius: 100px !important;
	color: var(--color-black);
	position: relative;
	font-size: 14px;
	letter-spacing: .028em;
	overflow: hidden;
	transition: border-color .1s var(--transform-ease), color .1s var(--transform-ease);
		&-icon{
			color: inherit;
			width: 14px;
			height: 15px;
			display: inline-block;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 30px;
			transition: transform var(--transform-duration) var(--transform-ease);
				svg{
					fill: currentColor;
				}
		}
		&-white{
			border-color: var(--color-white);
			background-color: var(--color-white);
		}
		&-title{
			display: inline-block;
			position: relative;
		}
		&:before{
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100px;
			height: 100px;
			transform: translate(-50%,-50%) scale(0);
			border-radius: 50%;
			pointer-events: none;
			//opacity: 0;
			background-color: var(--color-black);
		}
		@include hover($hoverWidth) {
			&:hover {
				transition: border-color var(--transform-duration) var(--transform-ease), color var(--transform-duration) var(--transform-ease), background-color .7s var(--opacity-ease);
				border-color: var(--color-black);
				color: var(--color-white);
				background-color: var(--color-black);
					&:before {
						transition: transform 0.7s var(--transform-ease), opacity var(--transform-duration) var(--transform-ease);
						opacity: 1;
						transform: translate(-50%, -50%) scale(4);
					}
				.btn-icon {
					transform: translateY(-50%) rotate(45deg);
				}
			}
		}
}