.input{
	width: 100%;
	background-color: transparent;
	height: 62px;
	border: none;
	border-bottom: 1px var(--color-black) solid;
	font-family: var(--font-body);
	font-size: 20px;
	padding: 0;
	transition: border-color var(--opacity-duration) var(--opacity-ease);
		&-container{
			display: block;
			position: relative;
			padding-bottom: 20px;
				&.has-error{
					.input{
						border-color: var(--color-red);
							&-label{
								color: var(--color-red);
							}
					}
				}
		}
		&-label{
			font-size: 20px;
			display: inline-block;
			position: absolute;
			left: 0;
			top: 15px;
			opacity: .5;
			transition: font-size var(--transform-duration) var(--transform-ease), top var(--transform-duration) var(--transform-ease), color var(--opacity-duration) var(--opacity-ease);
			pointer-events: none;
		}
		&:focus,
		&:valid{
			outline: none;
		}
		&.is-focus{
			& ~ .input-label{
				font-size: 12px;
				top: -12px;
			}
		}
}

.textarea{
	padding-top: 18px;
	height: 92px;
}