.link{
	text-transform: uppercase;
	font-size: 14px;
	font-family: var(--font-body);
	letter-spacing: .02em;
	padding: 0;
	border: none;
	background-color: transparent;
	display: inline-flex;
	align-items: center;
	line-height: 1.28em;
	transition: color var(--opacity-duration) var(--opacity-ease);
		&-icon{
			margin-left: 15px;
		}
		@include hover($hoverWidth){
			&:hover{
				color: var(--color-white);
			}
		}
}