.section{
	//display: inline-block;
	//overflow: hidden;
	position: relative;
	//padding: 50px;
	min-width: 100vw;
	height: 100%;
	white-space: normal;
		&-nav{
			position: absolute;
			top: 0;
			right: 0;
			width: 66px;
			height: 100%;
				@include mh($minHeight) {
					width: 7vmin;
				}
				&-box{
					display: flex;
					//writing-mode: vertical-rl;
					//transform: scale(-1,-1);
					transform: rotate(-90deg);
					position: absolute;
					top: 0;
					right: 0;
					transform-origin: calc(100% - 66px) top;
						@include mh($minHeight) {
							transform-origin: calc(100% - 7vmin) top;
						}
				}
				&-title{
					font-family: var(--font-title-extra);
					-webkit-text-stroke-width: 1px;
					-webkit-text-stroke-color: inherit;
					-webkit-text-fill-color: transparent;
					-webkit-background-clip: text;
					white-space: nowrap;
					text-transform: uppercase;
					margin-left: 30px;
					cursor: pointer;
				}
				&-wrap{
					display: none;
					position: fixed;
					top: 0;
					left: 0;
					width: 100vw;
					height: 100%;
				}
		}
		&-banner{
			width: 100vw;
			height: 100%;
			overflow: hidden;
				img{
					max-width: none;
					max-height: none;
					min-width: 100%;
					min-height: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center top;
				}
		}
		&-content{
			padding: 50px;
			height: 100%;
			position: relative;
			z-index: 1;
				&-row{
					display: flex;
					height: 100%;
				}
				&-box{
					position: relative;
				}
				&-title{

				}
				&-subtitle{
					margin-bottom: 5.2vmin;
				}
				&-description{
					p{
						&:not(:last-child){
							margin-bottom: 1.5vmin;
						}
					}
				}
				&-action{
					padding-top: 2.8vmin;
					display: flex;
					justify-content: flex-start;
						&.__end{
							justify-content: flex-end;
						}
				}
				&-image{
					position: relative;
					overflow: hidden;
						img{

						}
				}
		}
		&-motorcycle{
			height: 100%;
			width: 100%;
			padding: 50px;
			position: relative;
				&.is-inview{
					z-index: 1;
				}
		}
		//.is-inview{
		//	& + .section-nav{
		//		opacity: 1 !important;
		//	}
		//}
}