.social{
	display: flex;
	align-items: center;
		&-link{
			font-size: 14px;
			font-size: .88em;
			text-transform: lowercase;
				&:not(:last-child){
					margin-right: 43px;
				}
				@include hover($minDesktopWidth){
					&:hover{
						color: var(--color-red);
					}
				}
		}
}