.video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
		&-box{
			position: relative;
			width: 100%;
			height: 100%;
				.video{
					opacity: .5;
					pointer-events: none;
				}
		}
		&-thumbnail{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: .1;
			transform: translateY(-3vmin);
			transition: opacity var(--opacity-duration) var(--opacity-ease), transform var(--transform-duration) var(--transform-ease);
			pointer-events: none;
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
		}
		&-mask{
			position: absolute;
			inset: 0 0;
			background-color: var(--color-black);
			opacity: .6;
			pointer-events: none;
			mix-blend-mode: hard-light;
		}
		&-btn{
			position: absolute;
			width: 17.5vmin;
			height: 17.5vmin;
			border-radius: 50%;
			border: 1px var(--color-grey-100) solid;
			pointer-events: none;
			opacity: 0;
			transition: opacity var(--opacity-duration) var(--opacity-ease);
				&:before{
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 7.5px 0 7.5px 12px;
					border-color: transparent transparent transparent var(--color-grey-100);
					pointer-events: none;
				}
		}
		&-wrap{
			cursor: pointer;
		}
		video{
			@extend .video;
			object-fit: cover;
			object-position: center;
		}
}